<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/button_up}"></div>
<div th:replace="~{fragments/navbar}"></div>
<div th:replace="~{fragments/profile_view}"></div>
<div th:replace="~{fragments/uploadfile}"></div>

<div th:replace="~{fragments/card_content}"></div>
<div th:replace="~{fragments/all_user}"></div>

<div th:replace="~{fragments/footer}"></div>
</body>
</html>