<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body{
        background-color: #000;
    }
    .carousel{
        margin-top: 50px;
    }
    .carousel-inner{
        height: 100px;
    }
    .carousel-caption{
        color: #fff;
        top: 50%;
    }
</style>
<body>
<div class="mt-5 mb-5">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <h3>― Albert Einstein</h3>
                    <p>“Two things are infinite: the universe and human stupidity; and I'm not sure about the universe.”</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <h3>Marilyn Monroe</h3>
                    <p>“I'm selfish, impatient and a little insecure. I make mistakes,
                        I am out of control and at times hard to handle.
                        But if you can't handle me at my worst, then you sure as hell don't deserve me at my best.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <<h3>Marilyn Monroe</h3>
                    <p>“I'm selfish, impatient and a little insecure. I make mistakes,
                        I am out of control and at times hard to handle.
                        But if you can't handle me at my worst, then you sure as hell don't deserve me at my best.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <h3>Marilyn Monroe</h3>
                    <p>“I'm selfish, impatient and a little insecure. I make mistakes,
                        I am out of control and at times hard to handle.
                        But if you can't handle me at my worst, then you sure as hell don't deserve me at my best.</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <h3>Marilyn Monroe</h3>
                    <p>“I'm selfish, impatient and a little insecure. I make mistakes,
                        I am out of control and at times hard to handle.
                        But if you can't handle me at my worst, then you sure as hell don't deserve me at my best.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container m-auto">
    <a class="btn btn-primary mb-5" href="/upload" role="button">New Post</a>
<!--    card_item-->
    <div class="d-inline-flex flex-lg-wrap gap-5 ">
        <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/564x/72/64/6f/72646fd5517c04c31b540231b4c77862.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jonh Walker</h5>
                <p class="card-text">“I AM AN AUTHOR.  I CREATE STORIES.  I CREATE A SETTING AND CHARACTERS.  AND THEN I CREATE EVENTS.</p>
                <a href="/view_profile" class="btn btn-primary">Visit profile</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/564x/72/64/6f/72646fd5517c04c31b540231b4c77862.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jonh Walker</h5>
                <p class="card-text">“I AM AN AUTHOR.  I CREATE STORIES.  I CREATE A SETTING AND CHARACTERS.  AND THEN I CREATE EVENTS.</p>
                <a href="/view_profile" class="btn btn-primary">Visit profile</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/564x/72/64/6f/72646fd5517c04c31b540231b4c77862.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jonh Walker</h5>
                <p class="card-text">“I AM AN AUTHOR.  I CREATE STORIES.  I CREATE A SETTING AND CHARACTERS.  AND THEN I CREATE EVENTS.</p>
                <a href="/view_profile" class="btn btn-primary">Visit profile</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/564x/72/64/6f/72646fd5517c04c31b540231b4c77862.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jonh Walker</h5>
                <p class="card-text">“I AM AN AUTHOR.  I CREATE STORIES.  I CREATE A SETTING AND CHARACTERS.  AND THEN I CREATE EVENTS.</p>
                <a href="/view_profile" class="btn btn-primary">Visit profile</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/564x/72/64/6f/72646fd5517c04c31b540231b4c77862.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jonh Walker</h5>
                <p class="card-text">“I AM AN AUTHOR.  I CREATE STORIES.  I CREATE A SETTING AND CHARACTERS.  AND THEN I CREATE EVENTS.</p>
                <a href="/view_profile" class="btn btn-primary">Visit profile</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/564x/72/64/6f/72646fd5517c04c31b540231b4c77862.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jonh Walker</h5>
                <p class="card-text">“I AM AN AUTHOR.  I CREATE STORIES.  I CREATE A SETTING AND CHARACTERS.  AND THEN I CREATE EVENTS.</p>
                <a href="/view_profile" class="btn btn-primary">Visit profile</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/564x/72/64/6f/72646fd5517c04c31b540231b4c77862.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jonh Walker</h5>
                <p class="card-text">“I AM AN AUTHOR.  I CREATE STORIES.  I CREATE A SETTING AND CHARACTERS.  AND THEN I CREATE EVENTS.</p>
                <a href="/view_profile" class="btn btn-primary">Visit profile</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/564x/72/64/6f/72646fd5517c04c31b540231b4c77862.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jonh Walker</h5>
                <p class="card-text">“I AM AN AUTHOR.  I CREATE STORIES.  I CREATE A SETTING AND CHARACTERS.  AND THEN I CREATE EVENTS.</p>
                <a href="/view_profile" class="btn btn-primary">Visit profile</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>