<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .testimonial-card .card-up {
            height: 120px;
            overflow: hidden;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }

        .aqua-gradient {
            background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
        }

        .testimonial-card .avatar {
            width: 120px;
            margin-top: -60px;
            overflow: hidden;
            border: 5px solid #fff;
            border-radius: 50%;
        }
    </style>
</head>

<body>
<div class=" row container m-auto">
    <div class="col mt-5">
        <div class="card">
            <div class="card-body d-flex flex-row">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle me-3"
                     height="50px"
                     width="50px" alt="avatar"/>
                <div>
                    <h5 class="card-title font-weight-bold mb-2">New spicy meals</h5>
                    <p class="card-text"><i class="far fa-clock pe-2"></i>07/24/2018</p>
                </div>
            </div>
            <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg"
                     alt="Card image cap"/>
                <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text collapse" id="collapseContent">
                    Recently, we added several exotic new dishes to our restaurant menu. They come from
                    countries such as Mexico, Argentina, and Spain. Come to us, have some wine and enjoy
                    our juicy meals from around the world.
                </p>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-link link-danger p-md-1 my-1" data-mdb-toggle="collapse" href="#collapseContent"
                       role="button" aria-expanded="false" aria-controls="collapseContent">Read more</a>

                    <!--                    button-->
                    <button type="button" class="btn btn-primary">👍 Like</button>
                    <button type="button" class="btn btn-success">Recommendation</button>

                    <div>
                        <i class="fas fa-share-alt text-muted p-md-1 my-1 me-2" data-mdb-toggle="tooltip"
                           data-mdb-placement="top" title="Share this post"></i>
                        <i class="fas fa-heart text-muted p-md-1 my-1 me-0" data-mdb-toggle="tooltip"
                           data-mdb-placement="top"
                           title="I like it"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col mt-5">
        <div class="card testimonial-card mb-3">
            <div class="card-up aqua-gradient"></div>
            <div class="avatar mx-auto white">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg"
                     class="rounded-circle img-fluid"
                     alt="woman avatar">
            </div>
            <div class="card-body text-center">
                <h4 class="card-title font-weight-bold">Martha Smith</h4>
                <hr>
                <p><i class="fas fa-quote-left"></i>“One afternoon when I was seven years old, my mom and I went to our
                    local bookshop, The Twig, in San Antonio, Texas, where she picked a book out for me that I was sure
                    I was going to hate: Encyclopedia Brown, Boy Detective by Donald J. Sobol.</p>
            </div>
        </div>

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                Category
            </a>
            <a href="/article" class="list-group-item list-group-item-action">C++ Programming</a>
            <a href="/article" class="list-group-item list-group-item-action">Data Analytic</a>
            <a href="/article" class="list-group-item list-group-item-action">DevOps Engineering</a>
            <a class="list-group-item list-group-item-action disabled">Courses Available</a>
        </div>
    </div>
    <hr style="color:#ffffff;" class="mt-5">
    <div class=" row mt-5 mb-5">
        <div class="col">
            <div class="card">
                <div class="card-body d-flex flex-row">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle me-3"
                         height="50px"
                         width="50px" alt="avatar"/>
                    <div>
                        <h5 class="card-title font-weight-bold mb-2">New spicy meals</h5>
                        <p class="card-text"><i class="far fa-clock pe-2"></i>07/24/2018</p>
                    </div>
                </div>
                <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg"
                         alt="Card image cap"/>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text collapse" id="collapseContent">
                        Recently, we added several exotic new dishes to our restaurant menu. They come from
                        countries such as Mexico, Argentina, and Spain. Come to us, have some wine and enjoy
                        our juicy meals from around the world.
                    </p>
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-link link-danger p-md-1 my-1" data-mdb-toggle="collapse"
                           href="#collapseContent"
                           role="button" aria-expanded="false" aria-controls="collapseContent">Read more</a>

                        <!--                    button-->
                        <button type="button" class="btn btn-primary">👉 Like</button>
                        <button type="button" class="btn btn-success">Comment</button>

                        <div>
                            <i class="fas fa-share-alt text-muted p-md-1 my-1 me-2" data-mdb-toggle="tooltip"
                               data-mdb-placement="top" title="Share this post"></i>
                            <i class="fas fa-heart text-muted p-md-1 my-1 me-0" data-mdb-toggle="tooltip"
                               data-mdb-placement="top"
                               title="I like it"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body d-flex flex-row">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle me-3"
                         height="50px"
                         width="50px" alt="avatar"/>
                    <div>
                        <h5 class="card-title font-weight-bold mb-2">New spicy meals</h5>
                        <p class="card-text"><i class="far fa-clock pe-2"></i>07/24/2018</p>
                    </div>
                </div>
                <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg"
                         alt="Card image cap"/>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text collapse" id="collapseContent">
                        Recently, we added several exotic new dishes to our restaurant menu. They come from
                        countries such as Mexico, Argentina, and Spain. Come to us, have some wine and enjoy
                        our juicy meals from around the world.
                    </p>
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-link link-danger p-md-1 my-1" data-mdb-toggle="collapse"
                           href="#collapseContent"
                           role="button" aria-expanded="false" aria-controls="collapseContent">Read more</a>

                        <!--                    button-->
                        <button type="button" class="btn btn-primary">👉 Like</button>
                        <button type="button" class="btn btn-success">Comment</button>

                        <div>
                            <i class="fas fa-share-alt text-muted p-md-1 my-1 me-2" data-mdb-toggle="tooltip"
                               data-mdb-placement="top" title="Share this post"></i>
                            <i class="fas fa-heart text-muted p-md-1 my-1 me-0" data-mdb-toggle="tooltip"
                               data-mdb-placement="top"
                               title="I like it"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body d-flex flex-row">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" class="rounded-circle me-3"
                         height="50px"
                         width="50px" alt="avatar"/>
                    <div>
                        <h5 class="card-title font-weight-bold mb-2">New spicy meals</h5>
                        <p class="card-text"><i class="far fa-clock pe-2"></i>07/24/2018</p>
                    </div>
                </div>
                <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/full page/2.jpg"
                         alt="Card image cap"/>
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <p class="card-text collapse" id="collapseContent">
                        Recently, we added several exotic new dishes to our restaurant menu. They come from
                        countries such as Mexico, Argentina, and Spain. Come to us, have some wine and enjoy
                        our juicy meals from around the world.
                    </p>
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-link link-danger p-md-1 my-1" data-mdb-toggle="collapse"
                           href="#collapseContent"
                           role="button" aria-expanded="false" aria-controls="collapseContent">Read more</a>

                        <!--                    button-->
                        <button type="button" class="btn btn-primary">👉 Like</button>
                        <button type="button" class="btn btn-success">Comment</button>

                        <div>
                            <i class="fas fa-share-alt text-muted p-md-1 my-1 me-2" data-mdb-toggle="tooltip"
                               data-mdb-placement="top" title="Share this post"></i>
                            <i class="fas fa-heart text-muted p-md-1 my-1 me-0" data-mdb-toggle="tooltip"
                               data-mdb-placement="top"
                               title="I like it"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>