<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col mt-5">
            <div class="card">
                <img src="https://i.pinimg.com/564x/5a/cd/77/5acd771a407294da166faef359986ea7.jpg" class="card-img-top" alt="Cover image">
                <div class="card-body text-center">
                    <img style="width: 100px; height: 100px;" src="https://i.pinimg.com/564x/a1/e9/a1/a1e9a1d3b72a5c54b27a5ea2c281e699.jpg" class="rounded-circle img-thumbnail" alt="Profile image">
                    <h5 class="card-title">John Doe</h5>
                    <p class="card-text">Web developer and photographer</p>
                    <a href="#" class="btn btn-primary">Follow</a>
                    <a href="#" class="btn btn-secondary">Message</a>
                </div>
            </div>
        </div>
    </div>
</div>
<hr style="color: white" class="m-5">
<br>
<div class="container">
    <h1 style="color: white">#Suggestions</h1>
    <div class="col d-inline-flex gap-5 m-5">
        <div class="card">
            <img src="https://i.pinimg.com/736x/45/44/1c/45441c29ef06d5248edbf3ca3ed2d0c3.jpg" class="card-img-top" alt="Cover image">
            <div class="card-body text-center">
                <img style="width: 100px; height: 100px;" src="https://i.pinimg.com/564x/6f/87/b1/6f87b1db321dd4b6bd1b1643e1ec290f.jpg" class="rounded-circle img-thumbnail" alt="Profile image">
                <h5 class="card-title">John Doe</h5>
                <p class="card-text">Web developer and photographer</p>
                <a href="#" class="btn btn-primary">Follow</a>
                <a href="#" class="btn btn-secondary">Message</a>
            </div>
        </div>
        <div class="card">
            <img src="https://i.pinimg.com/736x/45/44/1c/45441c29ef06d5248edbf3ca3ed2d0c3.jpg" class="card-img-top" alt="Cover image">
            <div class="card-body text-center">
                <img style="width: 100px; height: 100px;" src="https://i.pinimg.com/564x/6f/87/b1/6f87b1db321dd4b6bd1b1643e1ec290f.jpg" class="rounded-circle img-thumbnail" alt="Profile image">
                <h5 class="card-title">John Doe</h5>
                <p class="card-text">Web developer and photographer</p>
                <a href="#" class="btn btn-primary">Follow</a>
                <a href="#" class="btn btn-secondary">Message</a>
            </div>
        </div>
        <div class="card">
            <img src="https://i.pinimg.com/736x/45/44/1c/45441c29ef06d5248edbf3ca3ed2d0c3.jpg" class="card-img-top" alt="Cover image">
            <div class="card-body text-center">
                <img style="width: 100px; height: 100px;" src="https://i.pinimg.com/564x/6f/87/b1/6f87b1db321dd4b6bd1b1643e1ec290f.jpg" class="rounded-circle img-thumbnail" alt="Profile image">
                <h5 class="card-title">John Doe</h5>
                <p class="card-text">Web developer and photographer</p>
                <a href="#" class="btn btn-primary">Follow</a>
                <a href="#" class="btn btn-secondary">Message</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>